Tasks
<table border="1">
<tr>
  <th>Task name</th>
</tr>
 <% @tasks.each do |task| %>
    <tr>
      <th>
        <a href="<%=task_path(task)%>">rest <%=task.name%></a>
      </th>
      <th><%= link_to "Delete", task_path(task), :method => :delete %></th>
      <th>
        <%= link_to "Update", edit_task_path(task) %>
      </th>
    </tr>
  <% end %>
</table>
<a href="/categories">Categories</a></th>
<a href="/tasks/new">Add new task</a></th>

