<table>
<tr>
  <th>Task name</th> <th>Task description</th> <th>Task category</th>
</tr>
  <tr>
    <th><%=@task.name%></th>
    <th><%=@task.description%></th>
    <th><%=@task.category.name%></th>
  </tr>
</table>

